@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  display: flex;
  justify-content: center;

  background-color: var(--background);
}

#root {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

@theme inline {
  --font-sans: "Inter", sans-serif;

  --color-background: var(--background);
  --color-hover: var(--hover);
  --color-primary-text: var(--primary-text);
  --color-secondary-text: var(--secondary-text);
  --color-tertiary-text: var(--tertiary-text);
}

.dark {
  --background: rgb(3, 7, 18);
  --hover: rgb(31, 41, 55);
  --primary-text: rgb(249, 250, 251);
  --secondary-text: rgb(156, 163, 175);
  --tertiary-text: rgb(209, 213, 219);
}

.light {
  --background: rgb(255, 255, 255);
  --hover:  rgb(243, 244, 246);
  --primary-text: rgb(3, 7, 18);
  --secondary-text: rgb(107, 114, 128);
  --tertiary-text: rgb(55, 65, 81);
}